html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

* {
    font-family: Montserrat, cursive;
    margin: 0;
}

div#topo {
    width: 100%;
    top: 0;
    background: #FFF;
    box-shadow: 0 0 1rem #000;
    height: 10rem;
}

div#topo img[name="logo"] {
    float: left;
    margin-left: 2rem;
    margin-top: 0.4rem;
}

div#topo img[name="menu"] {
    float: right;
    margin-right: 2.5rem;
    margin-top: -1.8rem;
}

div#topo input[type="text"] {
    display: block;
    margin: auto;
    width: 30rem;
    border: none;
    border-radius: 0.3rem;
    background: #f6f6f6;
    height: 2.5rem;
    padding-left: 1rem;
    box-shadow: inset 0 0 0.6rem #666;
}

div#topo form {
    width: 30rem;
    display: block;
    margin: auto;
    padding-top: 1.8rem;

}

div#publicacao {
    width: 40rem;
    height: 22rem;
    display: block;
    margin: auto;
    border: none;
    border-radius: 0.5rem;
    background: #FFF;
    box-shadow: 0 0 0.6rem #A1A1A1;
    margin-top: 3rem;
}

div#publicacao textarea {
    width: 36.5rem;
    height: 15rem;
    display: block;
    margin: auto;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    border-width: 0.1rem;
    border-color: #A1A1A1;
}

div#publicacao img {
    padding-left: 1rem;
    margin-top: 0rem;
    margin-left: 0.1rem;
    width: 3rem;
    cursor: pointer;
}

div#publicacao input[type="submit"] {
    width: 7rem;
    height: 2.5rem;
    border-radius: 0.3rem;
    float: right;
    margin-right: 1.5rem;
    border: none;
    margin-top: 0.5rem;
    background: #4169E1;
    color: #FFF;
    cursor: pointer;
}

div#publicacao input[type="submit"]:hover {
    background: #001F3F;
}